/* Style applied from _app.js main component to all other pages, not component.
For component, use .module.css
==================================================================== */

/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  background-color: rgba(0, 255, 255, 0.241);
  margin: 0.5rem;
  padding: 0.35rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
a:hover{
 background-color: rgba(1, 187, 187, 0.241);
}

* {
  box-sizing: border-box;
} 
*/

#__next {
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  min-width: none;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

nav {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}

main {
  flex: 1;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    flex-wrap: wrap;
  }
  h1 {
    text-align: center;
    margin: auto;
  }

}